@font-face {
  font-family: Koulen;
  src:  url('assets/fonts/koulen/koulen-regular-webfont.woff2') format('woff2'),
        url('assets/fonts/koulen/koulen-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Blackout;
  src:  url('assets/fonts/blackout/blackout-midnight-webfont.woff2') format('woff2'),
        url('assets/fonts/blackout/blackout-midnight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Bowlbyone;
  src:  url('assets/fonts/bowlbyone/bowlbyone-regular-webfont.woff2') format('woff2'),
        url('assets/fonts/bowlbyone/bowlbyone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Truculenta', sans-serif;
}
:not(h1,h2,h3,h4,h5) {
  font-size: 20px;
}

.App {
  background-image: url(assets/images/curva_clara.svg), url(assets/images/curva.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header h1 {
  font-family: Bowlbyone;
}

#pag-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding: 0 10vw;
}

article {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  margin:  0 auto;
  width: 100%;
}

article .img-container {
  position: relative;
  flex: 1;
}

article .img-container img {
  max-height: 100%;
  position: absolute;
  width: auto;
}

.fading-texts {
  opacity: 0;
}

/* MarkerButton */
.markerButton {
  align-items: center;
  background-color: #0fff0033;
  border: none;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  flex-direction: column;
  padding: 8px 5px;
  transform-origin: top;
  width: 40px;
}
.markerButton .growable {
  height: 20px;
}
.markerButton .hidden {
  visibility: hidden;
}
.markerButton img {
  height: auto;
  max-width: 75%;
}

#bso {
  display: none;
}

#markerButtons {
  position: fixed;
  right: 10vw;
}